<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
      <div class="col-8 offset-2">
    <h3>Create a new listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
           <lable for="title" class="form-label">Enter Title</lable>
           <input type="text" name = "listing[title]" placeholder="Enter title" class="form-control" required> 
           <div class="invalid-feedback">Please enter valid title</div>
        </div>
        <div class="mb-3"> 
            <lable for="title" class="form-label">Description</lable>
            <textarea name ="listing[description]" class="form-control" required></textarea>     
            
        </div>
  
        <div class="mb-3"> 
            <lable for="title" class="form-label">Upload Image</lable>
            <input type="file" name ="listing[image]"  class="form-control" >   
        </div>
        <div class="row"><div class="mb-3 col-md-4">
            <lable for="price" class="form-label">Price</lable>
            <input type="text" name="listing[price]" placeholder="price" class="form-control" required>
            <div class="invalid-feedback">Please enter valid price</div>
        </div>
        <div class="mb-3 col-md-8">
           <lable for="title" class="form-label">Country</lable>
           <input type="text" name ="listing[country]" placeholder="1800" class="form-control" required>
           <div class="invalid-feedback">Please enter valid country name</div>
        </div>
       </div>
        <div class="mb-3">
           <lable for="title" class="form-label">Location</lable>
           <input type="text" name ="listing[location]" placeholder="Jaipur,Rajasthan" class="form-control" required>
           <div class="invalid-feedback">Please enter valid location</div>
        </div>
        <button class="btn btn-dark add-btn">Submit</button>
    </form>
    </div>
</div>